<html>
  <head>
    <title>Admin</title>
    <!-- Uncomment to just use the bare bones torch styles rather than the theme -->
    <!--<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/base.css") %>">-->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/theme.css") %>">
  </head>

  <body class="<%= Torch.PageView.body_classes(@conn) %>">
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <a href="/"><%= @conn.assigns.current_user.email %> </a>
          <%= link "Çıkış", to: Routes.pow_session_path(@conn, :delete ), method: "delete" %>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">

          <nav class="torch-nav">
                  <a href="/patients">hasta listesi</a>

            <!-- nav links here -->
          </nav>
        </div>
      </section>
    </header>

    <%= Torch.FlashView.render("_flash_messages.html", assigns) %>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= Routes.static_path(@conn, "/torch/torch.js") %>"></script>
  </body>
</html>

