<%= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f -> %>
  <fieldset class="torch-panel">
    <legend>
      <span>Details</span>
    </legend>
    <%= if @changeset.action do %>
      <p class="torch-form-error">Oops, something went wrong! Please check the errors below.</p>
    <% end %>
  
    <div class="torch-form-group">
      <%= label f, :identity_number %>
      <%= text_input f, :identity_number %>
      <%= error_tag f, :identity_number %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :name %>
      <%= text_input f, :name %>
      <%= error_tag f, :name %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :surname %>
      <%= text_input f, :surname %>
      <%= error_tag f, :surname %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :phone %>
      <%= text_input f, :phone %>
      <%= error_tag f, :phone %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :email %>
      <%= text_input f, :email %>
      <%= error_tag f, :email %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :birth_date %>
      <%= datetime_select f, :birth_date  , year: [options: 1900..2100] %>
      <%= error_tag f, :birth_date %>
    </div>
  
    <div class="torch-submit-form">
      <%= submit "Submit", class: "torch-submit-button" %>
    </div>
  </fieldset>
<% end %>