<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Patient", to: Routes.patient_path(@conn, :new) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Patients</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        
          <div class="field">
            <label>Identity number</label>
            <%= filter_select(:patient, :identity_number, @conn.params) %>
            <%= filter_string_input(:patient, :identity_number, @conn.params) %>
          </div>
        
          <div class="field">
            <label>Name</label>
            <%= filter_select(:patient, :name, @conn.params) %>
            <%= filter_string_input(:patient, :name, @conn.params) %>
          </div>
        
          <div class="field">
            <label>Surname</label>
            <%= filter_select(:patient, :surname, @conn.params) %>
            <%= filter_string_input(:patient, :surname, @conn.params) %>
          </div>
        
          <div class="field">
            <label>Phone</label>
            <%= filter_select(:patient, :phone, @conn.params) %>
            <%= filter_string_input(:patient, :phone, @conn.params) %>
          </div>
        
          <div class="field">
            <label>Email</label>
            <%= filter_select(:patient, :email, @conn.params) %>
            <%= filter_string_input(:patient, :email, @conn.params) %>
          </div>
        
        
        
          <div class="field">
            <label>Birth date</label>
            <%= filter_date_input(:patient, :birth_date, @conn.params) %>
          </div>
        
        
        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.patient_path(@conn, :index) %>
      <% end %>

    </section>

    <section id="torch-table">
    <%= if length(@patients) > 0 do %>
      <table>
        <thead>
          <tr>
            
              <th><%= table_link(@conn, "Identity number", :identity_number) %></th>
            
              <th><%= table_link(@conn, "Name", :name) %></th>
            
              <th><%= table_link(@conn, "Surname", :surname) %></th>
            
              <th><%= table_link(@conn, "Phone", :phone) %></th>
            
              <th><%= table_link(@conn, "Email", :email) %></th>
            
              <th><%= table_link(@conn, "Birth date", :birth_date) %></th>
            
            <th><span>Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <%= for patient <- @patients do %>
            <tr>
              
                <td><%= patient.identity_number %></td>
              
                <td><%= patient.name %></td>
              
                <td><%= patient.surname %></td>
              
                <td><%= patient.phone %></td>
              
                <td><%= patient.email %></td>
              
                <td><%= patient.birth_date %></td>
              
              <td class="torch-actions">
                <span><%= link "Show", to: Routes.patient_path(@conn, :show, patient) %></span>
                <span><%= link "Ödeme", to: Routes.patient_payment_path(@conn, :new , patient.id) %>   </span>
                <span><%= link "Edit", to: Routes.patient_path(@conn, :edit, patient) %></span>
                <span><%= link "Delete", to: Routes.patient_path(@conn, :delete, patient), method: :delete, data: [confirm: "Are you sure?"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render Torch.PaginationView, "_pagination.html", assigns %>
    <% else %>
      <p class="torch-no-data">No Patients match your search.</p>
    <% end %>
    </section>
  </div>
</section>