<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.patient_path(@conn, :edit, @patient), class: "torch-button" %>
    <%= link "Back", to: Routes.patient_path(@conn, :index), class: "torch-button" %>

     <%= link "Hastanın Kontratları", to: Routes.patient_contract_path(@conn, :index , @patient), class: "torch-button" %>
     <%= link "Ödeme", to: Routes.patient_payment_path(@conn, :new , @patient.id) %>

  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Patient Details</h3>
    </div>
    <ul>

        <li>
          <div class="torch-show-label">Kalan Borç:</div>
          <div class="torch-show-data"><%= @kalan_borc %></div>
        </li>

         <li>
          <div class="torch-show-label">Toplam Ödenen:</div>
          <div class="torch-show-data"><%= @total_payments %></div>
        </li>

         <li>
          <div class="torch-show-label">Bütün Mukaveleler Toplamı:</div>
          <div class="torch-show-data"><%= @total_contracts %></div>
        </li>

      
        <li>
          <div class="torch-show-label">Identity number:</div>
          <div class="torch-show-data"><%= @patient.identity_number %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Name:</div>
          <div class="torch-show-data"><%= @patient.name %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Surname:</div>
          <div class="torch-show-data"><%= @patient.surname %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Phone:</div>
          <div class="torch-show-data"><%= @patient.phone %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Email:</div>
          <div class="torch-show-data"><%= @patient.email %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Birth date:</div>
          <div class="torch-show-data"><%= @patient.birth_date %></div>
        </li>
      
    </ul>
  </div>
</section>