<section id="torch-toolbar">
  <div class="torch-container">

     <%= link "Cancel", to: Routes.patient_contract_path(@conn, :index , @patient_id), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Edit Contract</h3>
    </div>
    <%= render "form.html", Map.put(assigns, :action, Routes.patient_contract_path(@conn, :update, @patient_id, @contract)) %>
  </div>
</section>
