<%= form_for @changeset, @action, [multipart: true, id: "torch-form"], fn f -> %>
  <fieldset class="torch-panel">
    <legend>
      <span>Details</span>
    </legend>
    <%= if @changeset.action do %>
      <p class="torch-form-error">Oops, something went wrong! Please check the errors below.</p>
    <% end %>
  
    <div class="torch-form-group">
      <%= label f, :description %>
      <%= textarea f, :description %>
      <%= error_tag f, :description %>
    </div>
  
    <div class="torch-form-group">
      <%= label f, :fee %>
      <%= number_input f, :fee %>
      <%= error_tag f, :fee %>
    </div>
  
    <div class="torch-submit-form">
      <%= submit "Submit", class: "torch-submit-button" %>
    </div>
  </fieldset>
<% end %>