<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Contract", to: Routes.patient_contract_path(@conn, :new , @conn.assigns["patient_id"]) %>
    <%= link "Hastanın Sayfasına Dön", to: Routes.patient_path(@conn, :show, @conn.assigns["patient_id"]) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Contracts</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        
          <div class="field">
            <label>Description</label>
            <%= filter_select(:contract, :description, @conn.params) %>
            <%= filter_text_input(:contract, :description, @conn.params) %>
          </div>
        
        
        
        
          <div class="field">
            <label>Fee</label>
            <%= number_filter_select(:contract, :fee, @conn.params) %>
            <%= filter_number_input(:contract, :fee, @conn.params) %>
          </div>
        
        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.patient_contract_path(@conn, :index , @conn.assigns["patient_id"]) %>
      <% end %>

    </section>

    <section id="torch-table">
    <%= if length(@contracts) > 0 do %>
      <table>
        <thead>
          <tr>
            
              <th><%= table_link(@conn, "Description", :description) %></th>
            
              <th><%= table_link(@conn, "Fee", :fee) %></th>
            
            <th><span>Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <%= for contract <- @contracts do %>
            <tr>
              
                <td><%= contract.description %></td>
              
                <td><%= contract.fee %></td>
              
              <td class="torch-actions">
                <span><%= link "Show", to: Routes.patient_contract_path(@conn, :show, @conn.assigns["patient_id"],contract ) %></span>
                <span><%= link "Edit", to: Routes.patient_contract_path(@conn, :edit, @conn.assigns["patient_id"],contract ) %></span>
                <span><%= link "Delete", to: Routes.patient_contract_path(@conn, :delete, @conn.assigns["patient_id"],contract ), method: :delete, data: [confirm: "Are you sure?"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render Torch.PaginationView, "_pagination.html", assigns %>
    <% else %>
      <p class="torch-no-data">No Contracts match your search.</p>
    <% end %>
    </section>
  </div>
</section>