<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.patient_contract_path(@conn, :edit,@patient_id, @contract), class: "torch-button" %>
    <%= link "Back", to: Routes.patient_contract_path(@conn, :index , @patient_id), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Contract Details</h3>
    </div>
    <ul>
      
        <li>
          <div class="torch-show-label">Description:</div>
          <div class="torch-show-data"><%= @contract.description %></div>
        </li>
      
        <li>
          <div class="torch-show-label">Fee:</div>
          <div class="torch-show-data"><%= @contract.fee %></div>
        </li>
      
    </ul>
  </div>
</section>