<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "New Payment", to: Routes.patient_payment_path(@conn, :new , @conn.assigns["patient_id"]) %>
    <%= link "Hastanın Sayfasına Dön", to: Routes.patient_path(@conn, :show, @conn.assigns["patient_id"]) %>
  </div>
</section>
<section id="torch-index-content">
  <div class="torch-container">
    <section id="torch-filters">
      <h3>Find Payments</h3>
      <%= form_tag @conn.request_path, method: :get, id: "torch-filters-form" do %>
        
        
        
        
          <div class="field">
            <label>Miktar</label>
            <%= number_filter_select(:payment, :miktar, @conn.params) %>
            <%= filter_number_input(:payment, :miktar, @conn.params) %>
          </div>
        
        <button type="submit" class="torch-button">Search</button>
        <%= link "Clear Filters", to: Routes.patient_payment_path(@conn, :index ,  @conn.assigns["patient_id"]) %>
      <% end %>

    </section>

    <section id="torch-table">
    <%= if length(@payments) > 0 do %>
      <table>
        <thead>
          <tr>
            
              <th><%= table_link(@conn, "Miktar", :miktar) %></th>
            
            <th><span>Actions</span></th>
          </tr>
        </thead>
        <tbody>
          <%= for payment <- @payments do %>
            <tr>
              
                <td><%= payment.miktar %></td>
              
              <td class="torch-actions">
                <span><%= link "Show", to: Routes.patient_payment_path(@conn, :show, @conn.assigns["patient_id"],payment) %></span>
                <span><%= link "Edit", to: Routes.patient_payment_path(@conn, :edit, @conn.assigns["patient_id"],payment) %></span>
                <span><%= link "Delete", to: Routes.patient_payment_path(@conn, :delete, @conn.assigns["patient_id"] ,payment), method: :delete, data: [confirm: "Are you sure?"] %></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render Torch.PaginationView, "_pagination.html", assigns %>
    <% else %>
      <p class="torch-no-data">No Payments match your search.</p>
    <% end %>
    </section>
  </div>
</section>