<section id="torch-toolbar">
  <div class="torch-container">
    <%= link "Edit", to: Routes.patient_payment_path(@conn, :edit, @patient_id ,@payment), class: "torch-button" %>
    <%= link "Back", to: Routes.patient_payment_path(@conn, :index ,@patient_id), class: "torch-button" %>
  </div>
</section>

<section id="torch-header-and-content">
  <div class="torch-container">
    <div class="header">
      <h3>Payment Details</h3>
    </div>
    <ul>
      
        <li>
          <div class="torch-show-label">Miktar:</div>
          <div class="torch-show-data"><%= @payment.miktar %></div>
        </li>


        <li>
          <div class="torch-show-label">Oluşturulma Tarihi:</div>
          <div class="torch-show-data"><%= @payment.inserted_at %></div>
        </li>

         <li>
          <div class="torch-show-label">Son Düzenlenme Tarihi:</div>
          <div class="torch-show-data"><%= @payment.updated_at %></div>
        </li>

      
    </ul>
  </div>
</section>